<h1 class="main-title">Account Details</h1>

<p>For a complete experience on this website, please enter your personal details in the form below:</p>

<form method="post" class="account-form">
  <div class="mb-3">
    <label for="first_name" class="form-label">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ data.get('First Name', '') }}" />
  </div>
  <div class="mb-3">
    <label for="last_name" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ data.get('Last Name', '') }}">
  </div>
  <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input type="text" class="form-control" id="age" name="age" value="{{ data.get('Age', '') }}">
  </div>
  <button type="submit" class="btn btn-primary">Save Details</button>
</form>
