<div class="row">
  <div class="col-md-8">
    <!-- Left-side content: page title + actual page text -->
    <div class="content-box main-content">
      <!-- Big page title -->
      <h1 class="main-title">Homepage</h1>
      <!-- Add some paragraphs here (remove the TODO class, please!) -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt ex ex, in gravida neque sollicitudin a. Ut laoreet ante at nibh semper, at aliquam mauris pellentesque. Sed scelerisque ipsum lacus, ac scelerisque mi scelerisque vel. Proin faucibus tellus a urna iaculis viverra. Suspendisse eget facilisis enim. Aliquam id sollicitudin velit. Duis ut elit orci. Cras commodo hendrerit ex eget rhoncus. Aliquam auctor erat id justo blandit dictum. In in risus sed mauris pharetra lacinia.</p>
    </div>
  </div>

  <!-- Right side bar -->
  <div class="col-md-4">
    <div class="content-box" id="account">
      <h4>Your Account</h4>
      <!-- TODO Task 03 + 04: insert condition to display the authenticated user details. -->
      <p class="logged-out">Not authenticated!</p>
      <p>Click <a href="file:///home/mihai/Desktop/IAP1-IDST/Lab2/templates/login.html">here to login</a></p>
    </div>

    <div class="content-box">
      <h4>Changelog</h4>
      <p>
        <ul class="list-group list-group-flush">
          <!-- TODO: uncomment those when you implement those features -->
          <!-- <li class="list-group-item list-group-item-light">
            <div class="d-flex w-100 justify-content-between">
              <div class="news-item mb-1">We just added authentication!</div>
              <small class="text-muted">&#128197; 2023-04-06</small>
            </div>
          </li> -->
          <!-- <li class="list-group-item list-group-item-light">
            <div class="d-flex w-100 justify-content-between">
              <div class="news-item mb-1">&#128151; Migrate to Flask server</div>
              <small class="text-muted">&#128197; 2023-04-03</small>
            </div>
          </li> -->
          <li class="list-group-item list-group-item-light">
            <div class="d-flex w-100 justify-content-between">
              <div class="news-item mb-1">First version of the website</div>
              <small class="text-muted">&#128197; 2023-04-01</small>
            </div>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>