<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
    <h1>About Page</h1>
    <p>Stoian cântă de mic copil; a avut prima tangență cu muzica la vârsta de patru ani. Tatăl și unchiul său au fost lăutari binecunoscuți.

        S-a lansat cu ajutorul șefului de orchestră Dan Bursuc în anul 2002, cu piesa „Ce gagică șmecherită”. A jucat un rol semnificativ la apariția șlagărului „Of, viața mea” (2000), interpretat de Adrian Minune și Costi Ioniță. La finele anului 2002, Florin Stoian și-a schimbat numele de scenă din „Fermecătoru” în „Salam” (arăbescul pentru „pace”, cf. ebr. șalom).
        
        În 2008, cu ocazia unui concert oferit în București, a interpretat o piesă alături de cântăreața Paula Seling și Orchestra Simfonică București. Momentul a fost unul simbolic, descris de către prezentatoarea evenimentului ca o reconciliere între manele și muzica pop; în aceeași notă, versurile piesei ridicau problema intoleranței în societate.
        
        În anul 2011, în luna octombrie Florin Salam a colaborat cu muzicianul Goran Bregović alături de care vor scoate melodia Hopa Cupa inclusă în albumul "Champagne for the Gypsies" al cântărețului bosniac.
        
        Cântărețul este vicepreședinte în Asociația Artiștilor, Muzicanților și Lăutarilor Romi din România.</p>
</body>
</html>
